.container {
  padding: 0 2rem;
  border: 1px solid greenyellow;
  border-radius: 10px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.815);
  filter: drop-shadow(1px 1px 10px rgba(115, 255, 0, 0.468));
}